.login_form{
    text-align: center;
    position: absolute;
    right: 20rem;
    top: 10rem;
}
.input{
    padding: 10px;
    margin-bottom: 10px;
    width: 20rem;
}
.button{
    box-sizing: border-box;
    width: 20rem;
    height: 35px;
    background: #FB9400;
    box-shadow: 0px 4px 12px 0px #0000004D;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
 }
 .ant-form-item-explain-error{
    text-align: left;
    /* position: absolute; */
    bottom: 5px;
    width: 103%;
    padding-bottom: 5px;
}
.register{
    display: block;
    text-decoration: underline;
    position: absolute;
    bottom: 20px;
    left: 78%;
    border: none;
    color: #0056A1;
    box-shadow: none;
}